body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-image: linear-gradient(to right, #f6ebf1, #f3e4ed, #f0dde9, #ecd7e5, #e8d0e2, #e5d0e6, #e1d1ea, #dcd2ee, #d6dbf7, #d1e3fc, #ceecff, #cff3ff);
  color: #333; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
